Cython==0.29.21
librosa==0.9.1
matplotlib==3.3.1
numpy==1.18.5
scipy==1.5.2
torch==1.13.1+cu117 torchvision==0.14.1+cu117 torchaudio==0.13.1 --extra-index-url https://download.pytorch.org/whl/cu117
Unidecode==1.1.1
wandb
--upgrade accelerate
transformers
soundfile
segments
tensorboard==2.3.0
